USE [master]
GO
/****** Object:  Database [JPA_CRUD_Category]    Script Date: 06/09/2026 1:59:23 SA ******/
CREATE DATABASE [JPA_CRUD_Category]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'JPA_CRUD_Category', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS01\MSSQL\DATA\JPA_CRUD_Category.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'JPA_CRUD_Category_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS01\MSSQL\DATA\JPA_CRUD_Category_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JPA_CRUD_Category].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JPA_CRUD_Category]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 06/09/2026 1:59:24 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[cate_id] [int] IDENTITY(1,1) NOT NULL,
	[cate_name] [nvarchar](255) NOT NULL,
	[icons] [nvarchar](255) NULL,
	[status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[cate_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 06/09/2026 1:59:24 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[productId] [int] IDENTITY(1,1) NOT NULL,
	[description] [nvarchar](max) NULL,
	[image] [nvarchar](500) NULL,
	[price] [float] NOT NULL,
	[productName] [nvarchar](255) NULL,
	[categoryId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[productId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 06/09/2026 1:59:24 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[fullname] [nvarchar](255) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[avatar] [nvarchar](500) NULL,
	[roleid] [int] NOT NULL,
	[phone] [varchar](20) NULL,
	[createdDate] [date] NULL,
	[code] [varchar](10) NULL,
	[status] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[videos]    Script Date: 06/09/2026 1:59:24 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[videos](
	[videoId] [varchar](50) NOT NULL,
	[active] [bit] NULL,
	[description] [nvarchar](max) NULL,
	[poster] [nvarchar](500) NULL,
	[title] [nvarchar](255) NOT NULL,
	[views] [int] NULL,
	[categoryId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[videoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([cate_id], [cate_name], [icons], [status]) VALUES (1, N'ÁO THUN NAM SIÊU NGẦU', N'category/1788608289517.png', 1)
INSERT [dbo].[Category] ([cate_id], [cate_name], [icons], [status]) VALUES (2, N'ADIDAS TIRO PRO - TRẮNG ĐỎ ĐEN', N'category/1788608103661.jpg', 1)
INSERT [dbo].[Category] ([cate_id], [cate_name], [icons], [status]) VALUES (3, N'Iphone 17 PROMAX', N'category/1788607879966.jpg', 1)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([productId], [description], [image], [price], [productName], [categoryId]) VALUES (2, N'Chất vải co giản tốt, thấm hút tốt', N'Ảnh chụp màn hình 2024-10-31 222548.png', 150, N'ĐỒ THỂ THAO - S7', 1)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([id], [email], [username], [fullname], [password], [avatar], [roleid], [phone], [createdDate], [code], [status]) VALUES (4, N'quangtruongn57@gami.com', N'admin', N'Nguyễn Quang Trường', N'123', N'user/1788607519491_76283a44.jfif', 1, N'0397015250', CAST(N'2026-09-05' AS Date), NULL, 1)
INSERT [dbo].[User] ([id], [email], [username], [fullname], [password], [avatar], [roleid], [phone], [createdDate], [code], [status]) VALUES (5, N'manager@gmail.com', N'manager', N'Quản Lý Kho', N'123', NULL, 2, N'0900000002', CAST(N'2026-09-05' AS Date), NULL, 1)
INSERT [dbo].[User] ([id], [email], [username], [fullname], [password], [avatar], [roleid], [phone], [createdDate], [code], [status]) VALUES (6, N'user@gmail.com', N'user', N'Nguyễn Văn User', N'123', NULL, 3, N'0900000003', CAST(N'2026-09-05' AS Date), NULL, 1)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__AB6E6164D697827B]    Script Date: 06/09/2026 1:59:24 SA ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__F3DBC5725B104F39]    Script Date: 06/09/2026 1:59:24 SA ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((3)) FOR [roleid]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (CONVERT([date],getdate())) FOR [createdDate]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((0)) FOR [status]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FKmgop3yoct41q8yd7dpfmyi1en] FOREIGN KEY([categoryId])
REFERENCES [dbo].[Category] ([cate_id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FKmgop3yoct41q8yd7dpfmyi1en]
GO
ALTER TABLE [dbo].[videos]  WITH CHECK ADD  CONSTRAINT [FKm2jpjm4hhssfjlw2mm4vmpm73] FOREIGN KEY([categoryId])
REFERENCES [dbo].[Category] ([cate_id])
GO
ALTER TABLE [dbo].[videos] CHECK CONSTRAINT [FKm2jpjm4hhssfjlw2mm4vmpm73]
GO
USE [master]
GO
